@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

body {
  font-family: variables.$font-inter;
  color: variables.$color-4b5563;

  .scroll-lock & {
    overflow: hidden;
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 125;
    font-size: 0;
    background-color: rgba($color: variables.$color-black, $alpha: 0.5);

    html:not(.burger-active) & {
      opacity: 0;
      visibility: hidden;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }
}
