@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.footer {
  display: grid;
  gap: 30px;
  padding-block: 50px;
  background-color: variables.$color-f3faff;

  @media (min-width: #{768 + 0.1px}) {
    gap: 40px;
  }

  @media (min-width: #{1024 + 0.1px}) {
    grid-template-columns: 1fr auto;
    gap: 45px;
  }

  // .footer__column
  &__column {
    display: contents;

    @media (min-width: #{768 + 0.1px}) {
      display: flex;
      align-items: end;
      gap: 17px;

      @media (max-width: 1024px) {
        justify-content: space-between;
        order: 1;
      }
    }

    @media (min-width: #{1024 + 0.1px}) {
      flex-direction: column;
      align-items: start;
    }
  }

  // .footer__links
  &__links {
    @media (max-width: 768px) {
      order: 1;
      margin-block-start: 10px;
    }
  }

  // .footer-top__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
    row-gap: 40px;
    column-gap: 29px;

    @media (min-width: #{480 + 0.1px}) {
      row-gap: 30px;
      column-gap: 32px;
    }

    @media (min-width: #{768 + 0.1px}) {
      gap: 6px;
    }

    @media (min-width: #{1024 + 0.1px}) {
      gap: 20px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      gap: 28px;
    }

    @media (min-width: #{1440 + 0.1px}) {
      gap: 44px;
    }
  }

  // .footer__nav
  &__nav {
    @media (max-width: 768px) {
      grid-row: span 2;
    }
  }
}

.footer-logo {
  display: flex;
  align-items: start;
  gap: 10px;
  white-space: nowrap;
  letter-spacing: -0.01em;

  @media (min-width: #{768 + 0.1px}) {
    flex-direction: column;
  }

  // .footer-logo__image
  &__image {
    flex: 0 0 auto;
    inline-size: 65.12px;
    aspect-ratio: 65.12 / 51;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .footer-logo__text
  &__text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  // .footer-logo__label
  &__label {
    font-weight: 700;
    font-size: 20px;
    color: variables.$color-404040;
  }

  // .footer-logo__industry
  &__industry {
    font-weight: 500;
    font-size: 12px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: variables.$color-bbbbbb;

  // .footer-links__item
  &__item {
    &[href] {
      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-accent;
      }
    }
  }
}

.footer-nav {
  // .footer-nav__title
  &__title {
    margin-block-end: 20px;
  }

  // .footer-nav__list
  &__list {
  }

  // .footer-nav__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 15px;
    }
  }

  // .footer-nav__link
  &__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }

    @media (min-width: #{480 + 0.1px}) {
      white-space: nowrap;
    }
  }
}

.footer-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: variables.$color-404040;

  // .footer-label__text
  &__text {
  }

  // .footer-label__caption
  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 22px;
    padding-block: 3px;
    padding-inline: 10px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: variables.$color-4b5563;
    background-color: variables.$color-white;
    border-radius: 30px;
  }
}

.footer-address {
  @media (max-width: 768px) {
    display: contents;
  }

  // .footer-address__list
  &__list {
    display: contents;

    @media (min-width: #{768 + 0.1px}) {
      display: grid;
      grid-template-columns: repeat(2, 184px) auto;

      @media (max-width: 1024px) {
        justify-content: space-between;
      }
    }

    @media (min-width: #{1024 + 0.1px}) {
      gap: 20px;
    }

    @media (min-width: #{1200 + 0.1px}) {
      gap: 28px;
    }

    @media (min-width: #{1440 + 0.1px}) {
      gap: 20px;
    }
  }

  // .footer-address__item
  &__item {
    // .footer-address__item--row
    &--row {
      @media (max-width: 768px) {
        grid-column: span 2;
      }
    }
  }

  // .footer-address__title
  &__title {
    margin-block-end: 20px;
  }

  // .footer-address__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .footer-address__link
  &__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }

    br {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  // .footer-address__tel
  &__tel {
    margin-block-end: 5px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.01em;
    white-space: nowrap;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }
  }
}
