@property --marquee-background-color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #3d62eb;
}

@property --marquee-background-color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #f81255;
}
