$color-white: #fff;
$color-black: #000;

$color-accent: #3d62eb;

$color-4b5563: #4b5563;
$color-fafcfe: #fafcfe;
$color-515151: #515151;
$color-3d62eb: #3d62eb;
$color-404040: #404040;
$color-eef8ff: #eef8ff;
$color-2e2e2e: #2e2e2e;
$color-aabdf7: #aabdf7;
$color-f3faff: #f3faff;
$color-f81255: #f81255;
$color-d8dffb: #d8dffb;
$color-5c7cee: #5c7cee;
$color-dedede: #dedede;
$color-f9fafb: #f9fafb;
$color-eaeaea: #eaeaea;
$color-bbbbbb: #bbbbbb;
$color-374152: #374152;
$color-f3f7fb: #f3f7fb;
$color-0ec144: #0ec144;
$color-f1faf1: #f1faf1;
$color-249fe1: #249fe1;
$color-ebf6fe: #ebf6fe;
$color-2a3ad9: #2a3ad9;
$color-e8ecff: #e8ecff;
$color-f7fcff: #f7fcff;
$color-668ef2: #668ef2;
$color-eaecfe: #eaecfe;
$color-535d6a: #535d6a;
$color-b5c4fd: #b5c4fd;
$color-f3f4ff: #f3f4ff;
$color-4a6eef: #4a6eef;
$color-f9fafb: #f9fafb;
$color-cbcbcb: #cbcbcb;
$color-e5e7eb: #e5e7eb;
$color-373737: #373737;
$color-d1d5db: #d1d5db;
$color-3cf936: #3cf936;
$color-f4f5f6: #f4f5f6;
$color-b1b7c1: #b1b7c1;
