$color-white: #fff;
$color-black: #000;

$color-accent: #3d62eb;

$color-4b5563: #4b5563;
$color-fafcfe: #fafcfe;
$color-515151: #515151;
$color-3d62eb: #3d62eb;
$color-404040: #404040;
$color-eef8ff: #eef8ff;
$color-2e2e2e: #2e2e2e;
$color-aabdf7: #aabdf7;
$color-f3faff: #f3faff;
$color-f81255: #f81255;
$color-d8dffb: #d8dffb;
