@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.about {
  padding-block: 50px;
  background-color: variables.$color-fafcfe;

  // .about__title
  &__title {
    margin-block-end: 30px;
  }

  // .about__inner
  &__inner {
    display: grid;
    gap: 20px;

    @media (min-width: #{1024 + 0.1px}) {
      grid-template-columns: 530px 1fr;
    }

    @media (min-width: #{1200 + 0.1px}) {
      gap: 30px;
    }
  }

  // .about__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // .about__text
  &__text {
    letter-spacing: -0.01em;

    // .about__text--clip
    &--clip {
      @media (min-width: #{1024 + 0.1px}) {
        max-inline-size: 569px;
      }
    }

    b {
      font-weight: 700;
    }
  }
}

.about-video {
  border-radius: 10px;

  &:not([data-video="played"]) {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      font-size: 0;
      background-color: rgba($color: variables.$color-black, $alpha: 0.3);
    }
  }

  @media (max-width: 1024px) {
    aspect-ratio: 330 / 250;

    @media (min-width: #{480 + 0.1px}) {
      aspect-ratio: 440 / 300;
    }

    @media (min-width: #{768 + 0.1px}) {
      aspect-ratio: 728 / 395;
    }
  }

  // .about-video__play
  &__play {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
      --play-button-size: 40px;
      --play-button-width: 12px;
      --play-button-height: 15px;
      --play-button-translate: 2px;
    }
  }
}

.about-information {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  letter-spacing: -0.01em;
  color: variables.$color-404040;
  background-color: variables.$color-white;
  border: 1px solid variables.$color-d8dffb;
  border-radius: 10px;

  @media (min-width: #{1024 + 0.1px}) {
    max-inline-size: 480px;
  }

  // .about-information__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: 39px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: variables.$color-accent;
    background-color: variables.$color-f3faff;
    border-radius: 5px;
  }

  // .about-information__text
  &__text {
  }
}
