@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.advantages {
  padding-block: 50px;
  background-color: variables.$color-f3faff;

  // .advantages__title
  &__title {
    margin-block-end: 30px;
  }
}

.advantages-list {
  display: grid;
  gap: 9px;

  @media (min-width: #{1024 + 0.1px}) {
    grid-template-columns: repeat(3, 1fr);
  }

  // .advantages-list__item
  &__item {
  }
}

.advantage-card {
  display: grid;
  align-items: center;
  gap: 30px;
  block-size: 100%;
  padding: 20px;
  background-color: variables.$color-white;
  border-radius: 10px;

  @media (min-width: #{1440 + 0.1px}) {
    padding: 30px;
  }

  @media (max-width: 1024px) {
    @media (min-width: #{480 + 0.1px}) {
      grid-template-columns: 185px 1fr;
    }

    @media (min-width: #{768 + 0.1px}) {
      grid-template-columns: 329px 1fr;
    }
  }

  // .advantage-card__image
  &__image {
    block-size: 216px;
    font-size: 0;
    border-radius: 10px;
  }

  // .advantage-card__content
  &__content {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .advantage-card__title
  &__title {
    margin-block-end: 7px;
  }

  // .advantage-card__text
  &__text {
    letter-spacing: -0.01em;
  }
}

.advantage-title {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: variables.$color-404040;

  // .advantage-title__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-f81255;
  }

  // .advantage-title__text
  &__text {
  }
}
