@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.calculator {
  padding-block: 50px;

  // .calculator__title
  &__title {
    margin-block-end: 30px;
  }
}

.calculator-form {
  // .calculator-form__steps
  &__steps {
    margin-block-end: 40px;
  }
}

.calculator-steps {
  columns: 2;
  column-gap: 84px;
  counter-reset: windows-steps;

  // .calculator-steps__item
  &__item {
    break-inside: avoid;

    &:not(:last-child) {
      margin-block-end: 20px;
    }
  }

  // .calculator-steps__inner
  &__inner {
  }

  // .calculator-steps__label
  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    letter-spacing: -0.01em;
    color: variables.$color-404040;

    &:has(+ *) {
      margin-block-end: 30px;
    }

    &::before {
      content: counter(windows-steps);
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      counter-increment: windows-steps;
      inline-size: 22px;
      aspect-ratio: 1 / 1;
      font-size: 14px;
      text-align: center;
      color: variables.$color-white;
      background-color: variables.$color-f81255;
      border-radius: 50%;
    }
  }
}

.windows {
  // .windows__radios
  &__radios {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-end: 50px;
  }
}

.windows-radio {
  position: relative;
  isolation: isolate;
  flex: 0 0 auto;
  font-size: 0;

  // .windows-radio__input
  &__input {
    appearance: none;
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  // .windows-radio__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 90px;
    aspect-ratio: 90 / 70;
    color: variables.$color-535d6a;
    border: 2px solid variables.$color-eaecfe;
    border-radius: 5px;

    .windows-radio__input:checked + & {
      color: variables.$color-4a6eef;
      background-color: variables.$color-f3f4ff;
      border-color: variables.$color-b5c4fd;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color, border-color;
      transition-duration: 0.3s;
    }
  }
}

.windows-result {
  position: relative;
  isolation: isolate;
  padding-block-end: 36px;
  padding-inline-end: 36px;

  &::after {
    content: "";
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    z-index: 1;
    inline-size: 41px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    background-color: variables.$color-white;
    pointer-events: none;
  }

  // .windows-result__inner
  &__inner {
    position: relative;
    isolation: isolate;
    padding-block: 21px 61px;
    padding-inline: 67.5px;
    border-block-end: 2px solid variables.$color-d1d5db;
    border-inline-end: 2px solid variables.$color-d1d5db;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      inline-size: 10px;
      aspect-ratio: 1 / 1;
      font-size: 0;
      background-color: variables.$color-f81255;
      border-radius: 50%;
    }

    &::before {
      content: "";
      inset-block-end: 0;
      inset-inline-start: 50%;
      transform: translate(-50%, 50%);
    }

    &::after {
      content: "";
      inset-block-start: 50%;
      inset-inline-end: 0;
      transform: translate(50%, -50%);
    }
  }

  // .windows-result__image
  &__image {
    aspect-ratio: 1 / 1;
    font-size: 0;
    border: 1px solid variables.$color-d1d5db;

    img {
      object-fit: contain;
    }
  }

  // .windows-result__input
  &__input {
    position: absolute;
    inset-block-start: calc(100% + 9px);
    inset-inline-start: 50%;
    inline-size: 56px;
    block-size: 27px;
    padding-inline: 10px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.01em;
    text-align: center;
    background-color: variables.$color-f9fafb;
    border-radius: 5px;

    &:focus {
      outline: unset;
    }

    // .windows-result__input--height
    &--height {
      writing-mode: sideways-lr;
      transform: translateY(50%);
    }

    // .windows-result__input--width
    &--width {
      transform: translateX(-50%);
    }
  }
}

.windows-additionally {
  // .windows-additionally__item
  &__item {
    padding: 30px;
    background-color: variables.$color-f9fafb;
    border-radius: 10px;

    &:not(:last-child) {
      margin-block-end: 10px;
    }
  }

  // .windows-additionally__label
  &__label {
    margin-block-end: 30px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: variables.$color-404040;

    // .windows-additionally__label--second
    &--second {
      margin-block-end: 20px;
    }
  }

  // .windows-additionally__selects
  &__selects {
    margin-block-end: 40px;
  }

  // .windows-additionally__lamination
  &__lamination {
    margin-block-end: 40px;
  }
}

.windows-selects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 17px;

  // .windows-selects__item
  &__item {
  }

  // .windows-selects__label
  &__label {
    margin-block-end: 15px;
  }

  // .windows-selects__select
  &__select {
    appearance: none;
    block-size: 39px;
    padding-inline: 10px 40px;
    letter-spacing: -0.01em;
    text-overflow: ellipsis;
    background-color: variables.$color-white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23B1B7C1' d='m8.36 10.62 5.31-5.57a.5.5 0 0 0 0-.7.46.46 0 0 0-.67 0L8 9.6 3 4.35a.46.46 0 0 0-.67 0 .5.5 0 0 0 0 .7l5.3 5.57a.5.5 0 0 0 .73 0Z'/%3E%3C/svg%3E%0A");
    background-position: right 14px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border-radius: 5px;

    &:focus {
      outline: unset;
    }
  }
}

.windows-label {
  font-weight: 500;
  letter-spacing: -0.01em;
}

.windows-lamination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 20px;

  // .windows-lamination__item
  &__item {
  }

  // .windows-lamination__label
  &__label {
    margin-block-end: 15px;
  }

  // .windows-lamination__radios
  &__radios {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.lamination-radio {
  position: relative;
  isolation: isolate;
  flex: 0 0 auto;
  inline-size: 30px;
  aspect-ratio: 1 / 1;
  padding: 3px;
  font-size: 0;
  border: 1px solid variables.$color-cbcbcb;
  border-radius: 3px;

  &:has(.lamination-radio__input:checked) {
    border-color: variables.$color-accent;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: border-color;
    transition-duration: 0.3s;
  }

  // .lamination-radio__input
  &__input {
    appearance: none;
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
  }

  // .lamination-radio__icon
  &__icon {
    aspect-ratio: 1 / 1;
    border-radius: 2px;
  }
}

.windows-checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;

  // .windows-checkboxes__input
  &__input {
    appearance: none;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    &:checked {
      &::before {
        background-color: variables.$color-accent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 8'%3E%3Cpath fill='%23fff' d='M9.19 1a.6.6 0 0 0-.88 0L3.62 5.69 1.7 3.75a.6.6 0 0 0-.88 0 .6.6 0 0 0 0 .88L3.2 7c.12.13.25.19.44.19.18 0 .3-.07.43-.19L9.2 1.87a.6.6 0 0 0 0-.87Z'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px 8px;
        border-color: variables.$color-accent;
      }
    }

    &::before {
      content: "";
      flex: 0 0 auto;
      inline-size: 20px;
      aspect-ratio: 1 / 1;
      font-size: 0;
      border: 1px solid variables.$color-e5e7eb;
      border-radius: 5px;

      @include mixins.prefers-reduced-motion {
        transition-property: background-color, border-color;
        transition-duration: 0.3s;
      }
    }

    &::after {
      content: attr(aria-label);
      letter-spacing: -0.01em;
    }
  }
}

.calculator-result {
  // .calculator-result__inner
  &__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
    margin-block-end: 10px;
    padding: 30px;
    color: variables.$color-white;
    background-color: variables.$color-accent;
    border-radius: 20px;
  }

  // .calculator-result__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  // .calculator-result__price
  &__price {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .calculator-result__title
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  // .calculator-result__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .calculator-result__label
  &__label {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.01em;
  }

  // .calculator-result__value
  &__value {
    padding-inline: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: variables.$color-f81255;
    border-radius: 5px;
    background-color: variables.$color-white;
  }

  // .calculator-result__information
  &__information {
    font-size: 20px;
    letter-spacing: -0.01em;
  }

  // .calculator-result__button
  &__button {
    --button-height: 55px;
    --button-gap: 40px;
    --button-width: 251px;
    --button-font-family: #{variables.$font-inter};
    --button-font-weight: 500;
    --button-letter-spacing: -0.01em;
  }

  // .calculator-result__text
  &__text {
    font-size: 14px;
    letter-spacing: -0.01em;
    color: rgba($color: variables.$color-373737, $alpha: 0.7);
  }
}
