@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.contacts {
  @media (min-width: #{768 + 0.1px}) {
    position: relative;
    isolation: isolate;
    padding-block: 50px;
  }

  @media (max-width: 768px) {
    --padding-inline: 0;
  }

  // .contacts__map
  &__map {
    font-size: 0;

    @media (min-width: #{768 + 0.1px}) {
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    @media (max-width: 768px) {
      block-size: 212px;
    }
  }
}

.contacts-address {
  padding-block: 20px 50px;
  padding-inline: 15px;

  @media (min-width: #{480 + 0.1px}) {
    padding-inline: 20px;
  }

  @media (min-width: #{768 + 0.1px}) {
    max-inline-size: 417px;
    padding-block: 33px 52px;
    padding-inline: 40px;
    background-color: variables.$color-white;
    border-radius: 20px;
  }

  @media (min-width: #{1024 + 0.1px}) {
    padding-block-end: 40px;
  }

  // .contacts-address__title
  &__title {
    margin-block-end: 30px;
  }
}

.contacts-list {
  // .contacts-list__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 20px;
    }
  }
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: -0.01em;
  color: variables.$color-black;

  // .contacts-link--start
  &--start {
    align-items: start;
    gap: 11px;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-accent;
  }

  // .contacts-link__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-accent;
  }

  // .contacts-link__text
  &__text {
  }
}
