@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.marquee {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  white-space: nowrap;
  color: variables.$color-white;

  // .marquee__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 9px;
    background-image: linear-gradient(
      90deg,
      var(--marquee-background-color-1, #3d62eb) 30%,
      var(--marquee-background-color-2, #f81255) 100%
    );
    animation: marquee-background-change 5s linear infinite alternate;

    @keyframes marquee-background-change {
      0% {
        --marquee-background-color-1: #3d62eb;
        --marquee-background-color-2: #f81255;
      }

      100% {
        --marquee-background-color-1: #f81255;
        --marquee-background-color-2: #3d62eb;
      }
    }

    @media (min-width: #{480 + 0.1px}) {
      padding: 12px;
    }
  }
}

.marquee-list {
  display: flex;
  align-items: center;
  gap: 20px;
  animation: marquee 15s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-100% - 20px));
    }
  }

  // .marquee-list__item
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;

    &::after {
      content: "";
      flex: 0 0 auto;
      inline-size: 5px;
      aspect-ratio: 1 / 1;
      font-size: 0;
      background-color: rgba($color: variables.$color-white, $alpha: 0.5);
      border-radius: 50%;
    }
  }
}
